# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = {'country': ['USA', 'Taiwan', 'China', 'Germany'],
        'population': np.random.randint(100000000, size = 4)}
print(data)

{'country': ['USA', 'Taiwan', 'China', 'Germany'], 'population': array([ 4836743,  8724370, 88121792, 80454731])}

In [16]:
pop = pd.DataFrame(data)
print(pop)

   country  population
0      USA     4836743
1   Taiwan     8724370
2    China    88121792
3  Germany    80454731

In [18]:
pop[pop['population']==pop['population'].max()]

  country  population
2   China    88121792

In [20]:
pop[pop['population'] > 9000000]

   country  population
2    China    88121792
3  Germany    80454731